<a href="https://colab.research.google.com/github/Ikunalk4/ml/blob/main/neenopal_rough_one.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [3]:
df1 = pd.read_csv('/content/Records Matching Task.xlsx - data1.csv')
df2 = pd.read_csv('/content/Records Matching Task.xlsx - data2.csv')

In [25]:
df_dup1 = df1
df_dup2 = df2

In [4]:
df1.head()

         Order ID       Product ID  Qty
0  CA-2014-100006  TEC-PH-10002075    3
1  CA-2014-100090  FUR-TA-10003715    3
2  CA-2014-100090  OFF-BI-10001597    6
3  CA-2014-100293  OFF-PA-10000176    6
4  CA-2014-100328  OFF-BI-10000343    1

In [5]:
df2.head()

         Order ID       Product ID  Qty
0  CA-2014-100090  FUR-TA-10003715    3
1  CA-2014-100090  OFF-BI-10001597    6
2  CA-2014-100293  OFF-PA-10000176    6
3  CA-2014-100328  OFF-BI-10000343    1
4  CA-2014-100363  OFF-FA-10000611    2

In [6]:
df1.shape

(9478, 3)

In [7]:
df2.shape

(9479, 3)

In [8]:
result1 = df1[~df1.apply(tuple, 1).isin(df2.apply(tuple, 1))]

In [9]:
result1

            Order ID       Product ID  Qty
0     CA-2014-100006  TEC-PH-10002075    3
10    CA-2014-100678  OFF-EN-10000056    3
19    CA-2014-100895  OFF-AR-10004511    2
35    CA-2014-101560  OFF-BI-10000309    3
61    CA-2014-102673  OFF-LA-10001771   12
...              ...              ...  ...
9390  US-2017-160836  OFF-AP-10001626    2
9403  US-2017-162558  FUR-FU-10002364    2
9420  US-2017-163657  OFF-BI-10000138    5
9427  US-2017-164056  FUR-TA-10001307    5
9435  US-2017-165456  FUR-CH-10003981    6

[507 rows x 3 columns]

In [10]:
result2 = df2[~df2.apply(tuple, 1).isin(df1.apply(tuple, 1))]

In [11]:
result2

            Order ID       Product ID  Qty
11    CA-2014-100706  TEC-AC-10001314    2
14    CA-2014-100762  OFF-PA-10001815    3
30    CA-2014-101427  OFF-AR-10002257    3
56    CA-2014-102652  FUR-FU-10001918    7
63    CA-2014-102869  OFF-PA-10000788    3
...              ...              ...  ...
9428  US-2017-165344  OFF-BI-10003196   10
9433  US-2017-165358  TEC-CO-10001943    5
9455  US-2017-167920  OFF-AP-10000159    5
9471  US-2017-169502  OFF-AP-10001947    5
9473  US-2017-169551  FUR-BO-10001519    3

[508 rows x 3 columns]

In [12]:
result1.Qty.sum()

1874

In [13]:
result3 = df1.merge(df2, indicator=True, how='outer').loc[lambda v: v['_merge'] != 'both']

In [14]:
result3

            Order ID       Product ID  Qty      _merge
0     CA-2014-100006  TEC-PH-10002075    3   left_only
10    CA-2014-100678  OFF-EN-10000056    3   left_only
19    CA-2014-100895  OFF-AR-10004511    2   left_only
35    CA-2014-101560  OFF-BI-10000309    3   left_only
61    CA-2014-102673  OFF-LA-10001771   12   left_only
...              ...              ...  ...         ...
9981  US-2017-165344  OFF-BI-10003196   10  right_only
9982  US-2017-165358  TEC-CO-10001943    5  right_only
9983  US-2017-167920  OFF-AP-10000159    5  right_only
9984  US-2017-169502  OFF-AP-10001947    5  right_only
9985  US-2017-169551  FUR-BO-10001519    3  right_only

[1015 rows x 4 columns]

In [16]:
 re = result3['Order ID'].unique()

In [17]:
re.shape

(922,)

In [18]:
df1_new = df1[['Order ID','Product ID']]

In [19]:
df1_new.head()

         Order ID       Product ID
0  CA-2014-100006  TEC-PH-10002075
1  CA-2014-100090  FUR-TA-10003715
2  CA-2014-100090  OFF-BI-10001597
3  CA-2014-100293  OFF-PA-10000176
4  CA-2014-100328  OFF-BI-10000343

In [20]:
df2_new = df2[['Order ID','Product ID']]

In [21]:
df2_new.head()

         Order ID       Product ID
0  CA-2014-100090  FUR-TA-10003715
1  CA-2014-100090  OFF-BI-10001597
2  CA-2014-100293  OFF-PA-10000176
3  CA-2014-100328  OFF-BI-10000343
4  CA-2014-100363  OFF-FA-10000611

In [22]:
new2 = pd.merge(df1_new, df2_new, how="outer", indicator=True)
new2

            Order ID       Product ID      _merge
0     CA-2014-100006  TEC-PH-10002075   left_only
1     CA-2014-100090  FUR-TA-10003715        both
2     CA-2014-100090  OFF-BI-10001597        both
3     CA-2014-100293  OFF-PA-10000176        both
4     CA-2014-100328  OFF-BI-10000343        both
...              ...              ...         ...
9981  US-2017-165344  OFF-BI-10003196  right_only
9982  US-2017-165358  TEC-CO-10001943  right_only
9983  US-2017-167920  OFF-AP-10000159  right_only
9984  US-2017-169502  OFF-AP-10001947  right_only
9985  US-2017-169551  FUR-BO-10001519  right_only

[9986 rows x 3 columns]

In [23]:
x = new2[new2['_merge'] == 'right_only']
x

            Order ID       Product ID      _merge
9478  CA-2014-100706  TEC-AC-10001314  right_only
9479  CA-2014-100762  OFF-PA-10001815  right_only
9480  CA-2014-101427  OFF-AR-10002257  right_only
9481  CA-2014-102652  FUR-FU-10001918  right_only
9482  CA-2014-102869  OFF-PA-10000788  right_only
...              ...              ...         ...
9981  US-2017-165344  OFF-BI-10003196  right_only
9982  US-2017-165358  TEC-CO-10001943  right_only
9983  US-2017-167920  OFF-AP-10000159  right_only
9984  US-2017-169502  OFF-AP-10001947  right_only
9985  US-2017-169551  FUR-BO-10001519  right_only

[508 rows x 3 columns]

In [24]:
z = new2[new2['_merge'] != 'both']
z

            Order ID       Product ID      _merge
0     CA-2014-100006  TEC-PH-10002075   left_only
10    CA-2014-100678  OFF-EN-10000056   left_only
19    CA-2014-100895  OFF-AR-10004511   left_only
35    CA-2014-101560  OFF-BI-10000309   left_only
61    CA-2014-102673  OFF-LA-10001771   left_only
...              ...              ...         ...
9981  US-2017-165344  OFF-BI-10003196  right_only
9982  US-2017-165358  TEC-CO-10001943  right_only
9983  US-2017-167920  OFF-AP-10000159  right_only
9984  US-2017-169502  OFF-AP-10001947  right_only
9985  US-2017-169551  FUR-BO-10001519  right_only

[1015 rows x 3 columns]

In [58]:
new = pd.merge(df1_new, df2_new, on="Order ID", how="outer", indicator=True)

In [59]:
new.isna().value_counts()

Order ID  Product ID_x  Product ID_y  _merge
False     False         False         False     26826
          True          False         False       139
          False         True          False       129
dtype: int64

In [50]:
new.tail(30)

             Order ID Product ID_x     Product ID_y      _merge
27064  CA-2017-153339          NaN  FUR-FU-10001967  right_only
27065  CA-2017-154102          NaN  OFF-PA-10001593  right_only
27066  CA-2017-154214          NaN  FUR-FU-10000206  right_only
27067  CA-2017-154760          NaN  OFF-BI-10004632  right_only
27068  CA-2017-154949          NaN  OFF-LA-10002034  right_only
27069  CA-2017-155929          NaN  OFF-PA-10000859  right_only
27070  CA-2017-157350          NaN  FUR-FU-10000222  right_only
27071  CA-2017-158106          NaN  OFF-AR-10002255  right_only
27072  CA-2017-161557          NaN  FUR-FU-10004622  right_only
27073  CA-2017-167976          NaN  OFF-SU-10004661  right_only
27074  CA-2017-169411          NaN  FUR-FU-10001602  right_only
27075  CA-2017-169607          NaN  OFF-PA-10000477  right_only
27076  CA-2017-169817          NaN  OFF-BI-10004141  right_only
27077  US-2014-107699          NaN  OFF-BI-10001249  right_only
27078  US-2014-141257          NaN  FUR-CH-10002758  right_only
27079  US-2014-151925          NaN  FUR-CH-10002961  right_only
27080  US-2015-145422          NaN  FUR-BO-10002213  right_only
27081  US-2015-164966          NaN  FUR-CH-10002304  right_only
27082  US-2016-126893          NaN  TEC-PH-10004165  right_only
27083  US-2016-128293          NaN  OFF-ST-10000736  right_only
27084  US-2016-139388          NaN  OFF-FA-10004968  right_only
27085  US-2016-147340          NaN  FUR-FU-10002501  right_only
27086  US-2016-163258          NaN  OFF-BI-10000138  right_only
27087  US-2016-164196          NaN  FUR-TA-10001950  right_only
27088  US-2016-164945          NaN  OFF-BI-10001524  right_only
27089  US-2017-116659          NaN  TEC-PH-10002824  right_only
27090  US-2017-118157          NaN  OFF-EN-10004459  right_only
27091  US-2017-133781          NaN  OFF-EN-10004483  right_only
27092  US-2017-141943          NaN  OFF-EN-10003448  right_only
27093  US-2017-148866          NaN  OFF-PA-10004782  right_only

In [52]:
x = new[new['_merge'] == 'right_only']
x

             Order ID Product ID_x     Product ID_y      _merge
26955  CA-2014-101427          NaN  OFF-AR-10002257  right_only
26956  CA-2014-104829          NaN  OFF-PA-10003016  right_only
26957  CA-2014-105648          NaN  FUR-TA-10002958  right_only
26958  CA-2014-108861          NaN  OFF-BI-10003876  right_only
26959  CA-2014-110611          NaN  OFF-ST-10000642  right_only
...               ...          ...              ...         ...
27089  US-2017-116659          NaN  TEC-PH-10002824  right_only
27090  US-2017-118157          NaN  OFF-EN-10004459  right_only
27091  US-2017-133781          NaN  OFF-EN-10004483  right_only
27092  US-2017-141943          NaN  OFF-EN-10003448  right_only
27093  US-2017-148866          NaN  OFF-PA-10004782  right_only

[139 rows x 4 columns]

In [26]:
A = pd.merge(df_dup1, df_dup2, how="outer", indicator=True)
A

            Order ID       Product ID  Qty      _merge
0     CA-2014-100006  TEC-PH-10002075    3   left_only
1     CA-2014-100090  FUR-TA-10003715    3        both
2     CA-2014-100090  OFF-BI-10001597    6        both
3     CA-2014-100293  OFF-PA-10000176    6        both
4     CA-2014-100328  OFF-BI-10000343    1        both
...              ...              ...  ...         ...
9981  US-2017-165344  OFF-BI-10003196   10  right_only
9982  US-2017-165358  TEC-CO-10001943    5  right_only
9983  US-2017-167920  OFF-AP-10000159    5  right_only
9984  US-2017-169502  OFF-AP-10001947    5  right_only
9985  US-2017-169551  FUR-BO-10001519    3  right_only

[9986 rows x 4 columns]

In [27]:
B = A[A['_merge'] != 'both']
B

            Order ID       Product ID  Qty      _merge
0     CA-2014-100006  TEC-PH-10002075    3   left_only
10    CA-2014-100678  OFF-EN-10000056    3   left_only
19    CA-2014-100895  OFF-AR-10004511    2   left_only
35    CA-2014-101560  OFF-BI-10000309    3   left_only
61    CA-2014-102673  OFF-LA-10001771   12   left_only
...              ...              ...  ...         ...
9981  US-2017-165344  OFF-BI-10003196   10  right_only
9982  US-2017-165358  TEC-CO-10001943    5  right_only
9983  US-2017-167920  OFF-AP-10000159    5  right_only
9984  US-2017-169502  OFF-AP-10001947    5  right_only
9985  US-2017-169551  FUR-BO-10001519    3  right_only

[1015 rows x 4 columns]

In [28]:
C = A[A['_merge'] == 'right_only']
C

            Order ID       Product ID  Qty      _merge
9478  CA-2014-100706  TEC-AC-10001314    2  right_only
9479  CA-2014-100762  OFF-PA-10001815    3  right_only
9480  CA-2014-101427  OFF-AR-10002257    3  right_only
9481  CA-2014-102652  FUR-FU-10001918    7  right_only
9482  CA-2014-102869  OFF-PA-10000788    3  right_only
...              ...              ...  ...         ...
9981  US-2017-165344  OFF-BI-10003196   10  right_only
9982  US-2017-165358  TEC-CO-10001943    5  right_only
9983  US-2017-167920  OFF-AP-10000159    5  right_only
9984  US-2017-169502  OFF-AP-10001947    5  right_only
9985  US-2017-169551  FUR-BO-10001519    3  right_only

[508 rows x 4 columns]

In [32]:
F = D.Qty.sum()
F

1874

In [29]:
D = A[A['_merge'] == 'left_only']
D

            Order ID       Product ID  Qty     _merge
0     CA-2014-100006  TEC-PH-10002075    3  left_only
10    CA-2014-100678  OFF-EN-10000056    3  left_only
19    CA-2014-100895  OFF-AR-10004511    2  left_only
35    CA-2014-101560  OFF-BI-10000309    3  left_only
61    CA-2014-102673  OFF-LA-10001771   12  left_only
...              ...              ...  ...        ...
9390  US-2017-160836  OFF-AP-10001626    2  left_only
9403  US-2017-162558  FUR-FU-10002364    2  left_only
9420  US-2017-163657  OFF-BI-10000138    5  left_only
9427  US-2017-164056  FUR-TA-10001307    5  left_only
9435  US-2017-165456  FUR-CH-10003981    6  left_only

[507 rows x 4 columns]